@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lago Chalco 186<br />
    Col Anahuac, Miguel Hidalgo CDMX <br />
    <abbr title="Phone">Telefono:</abbr>
    5576661007
</address>

<address>
    <strong>Email:</strong>   <a href="qnhama@gmail.com">qnhama@gmail.com</a><br />
</address>