@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
    <div class="bd-masthead mb-3" id="content">
        <div class="container px-4 px-md-3">
            <div class="row align-items-lg-center">
                <div class="col-md-8 order-md-1 col-lg-7 text-left text-md-start">
                    <h1>TurboPac</h1>

                    <p class="lead">
                        Aplicación de Usuarios TurboPac
                    </p>
                </div>
                <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
                    <img src="https://www.turbopac.mx/landing/img/logo_v2.png" width="400" class="img-fluid mb-3 mb-md-0" alt="...">

                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Esta apicación esta disponible desde un repositorio en Github desde el siguiente Link (Proporcionar Usurio para permitir accseso ya que es un repositorio Privado)
        </p>
        <p><a class="btn btn-default" href="https://github.com/qnhama/TurboPac.git">TurboPac Usuario Aplication Repocitory on Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="https://camo.githubusercontent.com/fb62076558d5f733abfec9edd7c6bdda438ba9040920715eeadf9f001741cd50/68747470733a2f2f313030306c6f676f732e6e65742f77702d636f6e74656e742f75706c6f6164732f323031382f31312f4769744875622d6c6f676f2e706e67" width="150" class="img-fluid mb-3 mb-md-0" alt="...">

    </div>
</div>